.homepage {
  // background-image: url("./1.\ Main\ \ -\ Homepage\ -\ First\ Screen.png");
  //   background-image: url("./assets/FeaturedCoverImage.png");
  // background-image: url("./assets/https_specials-7.png");
  height: 100%;
  // overflow: hidden;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page_constructor {
  padding-left: 170px;
  padding-right: 10px;
  height: 100%;
}
