.homepage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page_constructor {
  padding-left: 170px;
  padding-right: 10px;
  height: 100%;
}
