.mainMenu {
  display: grid;
  padding-left: 36px;
  position: relative;
  z-index: 999;
  padding-right: 14px;
  overflow: hidden;
  position: absolute;
  background: rgb(4, 4, 4);
  background: linear-gradient(
    90deg,
    rgba(4, 4, 4, 1) 22%,
    rgba(4, 4, 4, 0) 100%
  );
  height: 100%;
  grid-template-rows: 19% 53% 1fr;
}
.userInfoContainer {
  color: white;
  width: 354px;
  display: grid;
  height: 100%;
  align-items: center;
  text-align: center;
  grid-template-columns: 32% 1fr;
  div img {
    max-width: 81px;
    border-radius: 100px;
    height: 81px;
    margin-top: 27px;
    margin-left: -18px;
  }
  div p {
    text-align: left;
    font-weight: 900;
    font-size: 33px;
    margin-top: 24px;
  }
}
.buttonsContainer {
  ul {
    list-style-type: none;
    li {
      margin-bottom: 26px;
      a {
        background-color: transparent;
        display: flex;
        position: relative;
        z-index: 100;
        padding: 24px;
        width: 350px;
        border-radius: 15px;
        padding: 16px;
        img {
          margin-right: 56px;
          object-fit: contain;
        }
        span {
          position: relative;
          z-index: 0;
          font-size: 33px;
        }
      }
    }
  }
}
.settingsContainer {
  margin-top: 100px;
  ul {
    list-style-type: none;
    li {
      a {
        display: flex;
        text-transform: uppercase;
        margin-bottom: 15px;
        span {
          letter-spacing: 7px;
          color: #828386;
          font-size: 25px;
          font-weight: bold;
        }
      }
    }
  }
}
