* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
#root,
.App {
  height: 100%;
  // overflow: hidden;
  font-family: "Roboto";
  font-size: 20px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  // opacity: 25%;
}
section {
  position: relative;
}
